<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OracleConnectionString" connectionString="Data Source=ORACLE;Persist Security Info=True;User ID=user;Password=pass"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>